.App {
  text-align: center;
  background-image: url("https://images.pexels.com/photos/850796/pexels-photo-850796.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 50px;
}

.App-intro {
  font-size: large;
  padding: 30px;
  color: navy;
}

.footer {
  height: 50px;
  margin-top: 20px;
  background-color: #222;
  font-size: 30px;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
